body {
  font-family: SF Pro;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 894px;
  display: flex;
  align-items: center;
  padding: 22px 12px;
  background: white;
}

.nav {
  display: flex;
  gap: 26px;
  margin-left: 135px;
  margin-right: 89px;
}

.nav a {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  font-style: bold;
}

.nav a:hover {
  color: red;
}

.header-icons {
  display: flex;
  gap: 35px;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  color: #aa0606;
}

.search-cart {
  display: flex;
  align-items: center;
  gap: 17px;
  color: #aa0606;
}

.container {
  display: flex;
  width: 894px;
  height: 501px;
  background: #f4f4f4;
  border-radius: 10px;
  position: relative;
  padding-bottom: 67px;
}

.text-block {
  padding-left: 48px;
  margin-top: -23px;
}

h1 {
  font-size: 80px;
}

p {
  font-size: 2em;
  color: #000000;
  margin-top: -40px;
  margin-bottom: 46px;
}

.buy-btn {
  width: 220px;
  background: red;
  color: white;
  text-align: center;
  border: none;
  padding: 14px 28px;
  font-size: 22px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 28px;
  transition: background-color 0.3s ease;
}

.buy-btn:hover {
  background-color: black;
  color: white;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feature {
  font-size: 18px;
  display: flex;
  gap: 6px;
}

.image-block img {
  border-radius: 10px;
  position: absolute;
  top: 120px;
  right: 0;
  width: 490px;
}

.footer {
  width: 894px;
  background: white;
  padding-top: 120px;
  padding-bottom: 32px;
}

.footer-container {
  display: flex;
  gap: 120px;
}

.footer-links {
  display: flex;
  gap: 68px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-top: 22px;
}

.footer-column h4 {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-bottom: 5px;
}

.footer-bottom p {
  margin: 5px 0;
}

.lists-container {
  flex-direction: column;
  gap: 20px;
}

.contacts li {
  list-style: none;
  color: black;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 14px;
  padding-left: 0;
}

.policy {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.policy li {
  list-style: none;
  color: #a6a6a6;
}

.policy li a {
  text-decoration: none;
  color: inherit;
}
